/* Body */
* {
  font-family: arial, helvetica, sans-serif;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

.jumbotron {
  padding: 0px;
  background: linear-gradient(
    to right,
    white,
    rgba(163, 142, 142, 0.61),
    rgb(177, 108, 108)
  );
  background-position: bottom right;
  color: white;
  margin: 0px;
}

a {
  padding: 10px;
  margin: 10px;
  color: black;
}

/* Body - Paddings and Sections */

.aligncenter {
  text-align: center;
}

p {
  padding: 10px 10px 10px 0px;
}

.article {
  padding: 25px;
}

.title {
  font-size: 50px;
}

/* Parallax Image effect */
.parallax1 {
  /* The image used */
  background-image: url("/img/brooke-lark-08bOYnH_r_E-unsplash.jpg");
}
.parallax2 {
  /* The image used */
  background-image: url("/img/ella-olsson-2IxTgsgFi-s-unsplash.jpg");
}

.parallax3 {
  /* The image used */
  background-image: url("/img/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg");
}
.parallax1,
.parallax2,
.parallax3 {
  /* Set a specific height */
  height: 70%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.centerBlock {
  display: table;
  margin: auto;
}

.resize_fit_center {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

/* Navigation Bar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 4px 4px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: green;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* End Navigation Bar */

/* Viewport Height */
#vh {
  widows: 100%;
  height: 100vh;
}
